<!DOCTYPE html>
{% load i18n %}
<html>
  <head>
    <meta charset="utf-8" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
    <title>How to build a paraboloid</title>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38513569-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  </script>
  </head>
  
  <body>
    <div id="instructions" style="width:98%;position:relative;margin-left:20px;">
      <div id="text" style="display:inline-block;top:0px;left:0px; width:auto;padding-right:330px">
        <h1>{% trans "How to build a paraboloid" %}</h1> {% trans "you can contact me at m @ rcosbartolo.me" %}
          <div style="float:right;margin-right:20px;">
            <form name="setLangEnglish" style="display:inline" action="/paraboloid/i18n/setlang/" method="POST">{% csrf_token %}
                <input name="next" type="hidden" value="/paraboloid" />
                <input type="hidden" name="language" value="en" />
                <a href="#" onclick="document.setLangEnglish.submit();return false;">English</a>
            </form>
            <form style="display:inline" name="setLangSpanish" action="/paraboloid/i18n/setlang/" method="POST">{% csrf_token %}
                <input name="next" type="hidden" value="/paraboloid" />
                <input type="hidden" name="language" value="es" />
                <a href="#" onclick="document.setLangSpanish.submit();return false;">Español</a>
            </form>
          </div>
        <p>{% blocktrans %}To build your paraboloid, just choose the distance from the vertex to the focus, f.
        Then click "Go", download the image, print it, cut it, and put some thumbtacks, staples, glue or whatever you prefer to glue the paper.
        Note that the paper does not need to be circular, a normal A4 will work fine (A2 or A1 would be much more powerful, of course).{% endblocktrans %}</p>
        <p>{% trans "Also, note that if just after printing and before cutting, you glue an aluminium foil on the other side, and then leave that in the concave side, you will get a nice electromagnetic radiation concentrator (antennas, solar heaters...)." %}</p>
        <p>{% trans "Personally, I cut the paper as shown by the dashed lines in this figure (perpendicular to the source line and tangent to the end line), and then join the two parts of the paraboloid together, putting one piece of excess paper above and the next below and so on, if you understand me. If you have suggestions about how to explain this better, or take some photos while you do it, send them to me to put them here, please. I've been too lazy to do that." %}</p>
        <p>{% trans "You can also change the range of values for x, the shape of the cutout in case you are not going to use a normal printer and a paper, and the image size in inches. The limits are:" %}</p>
        <div id="limits">
        0.001 &lt; F &lt; 100 - {% trans "default" %} 3<br />
        1 &lt; Xran &lt; 5000 - {% trans "default" %} 100<br />
        1 &lt; Size &lt; 100 - {% trans "default" %} 10<br />
        </div>
        <div class="inputform" style="margin-top:10px;position:absolute;left:50px;">
          <form action="" method="get">
            <ul>{{ dataform.as_ul }}</ul>
          <input type="submit" value="Go"/>
          </form>
        </div>
      </div>
      
      <div id="png" style="margin-top:40px;">
        <a href="paraboloid.png?{% if f %}f={{ f }}{% endif %}{% if xran %}&xran={{ xran }}{% endif %}{% if size %}&size={{ size }}{% endif %}{% if shape %}&shape={{ shape }}{% endif %}&download=True">Download the image</a><br /><br />
        <img src="paraboloid.png?{% if f %}f={{ f }}{% endif %}{% if xran %}&xran={{ xran }}{% endif %}{% if size %}&size={{ size }}{% endif %}{% if shape %}&shape={{ shape }}{% endif %}" />
      </div>
      <div id="right" style="display:inline-block;width:300px;position:absolute;top:0px;right:0px;margin-top:20px;">

      <div id="image">
        <img src="/static/cutRegion300.png" />
      </div>
      <div id="banner" style="width:300px;height:600px;float:right;margin-top:40px;">
        <script type="text/javascript"><!--
          google_ad_client = "ca-pub-3695546081570624";
          /* p-right */
          google_ad_slot = "4278464274";
          google_ad_width = 300;
          google_ad_height = 600;
          //-->
        </script>
        <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
      </div>
    </div>
    </div>
  </body>
</html>

