* {font-family: 'Roboto Condensed', sans-serif;}
.inputform ul, li {display: inline; list-style-type: none; padding-left: 0px;}
a {color: #078eba;}
a:visited {color: #eeaad2;}
a:active {color: #71abe1;}
a:hover {color: #71abe1;}
